#header {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20vw;
}

#header #photo {
    margin-top: 50px;
    position: absolute;
    display: inline-block;
}

.background-image {
    object-fit: contain;
    height: 30vw;
    width: 100vw;
    max-width: 1200px;   
}

#caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

#header-logo {
    z-index: 2;
    flex-direction: column;
    display: flex;
    height: 14vw;
}

#header-logo img {
    margin: 10px;
}

.lang-picker {
    text-align: right;
    width: 30vw;
}

.lang-picker a {
    color: grey;
    text-decoration: none;
}

#menu {
    color: grey;
}

.squared {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 0px 3px; 
}

.bold {
    font-weight: bold;
}